.header {
    height: 5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #34393c;
    color: #c0c6c6;
}

.navbar-nav {
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;  
}